<div class="my-card-province">
  <div class="my-card-container">
    <h2>{{province}}</h2>
    <h5>{{offers}} offers</h5>
  </div>
  <img src="{{imageUrl}}" alt="Avatar" class="img" style="width:100%" />
</div>
