<div class="product-card">
  {{#link-to "product" product.id}}
    <img src="/assets/images/others/default copy.png" alt="{{ product.name }}" style="width:100%">
    <div class="product-card-container">
      <h6>{{ product.name }}</h6>
      <p class="price">{{ product.priceFixed }}</p>
    </div>
  {{/link-to}}
</div>
