
<section class="section-city">
  <div class="section-container">
    <!-- Search by City -->
    <div class="city">
      <div class="col-12">
        <h5>Search By City:</h5>
      </div>
      <div class="con">
        <div class="search-by-city-container">
          <div class="search-by-city-item">
            <AnimationCard @province="Phnom Penh" @offers="5" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/bfc8ae1b846ca63400fb5246129e83fe" />
          </div>
          <div class="search-by-city-item">
            <AnimationCard @province="Kandal" @offers="10" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/a6ec3a7ffb4c57f6cc91de7023ea2fcc" />
          </div>
        </div>
        <div class="search-by-city-container">
          <div class="search-by-city-item">
            <AnimationCard @province="Siem Reap" @offers="48" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/fd1605d5946a261a5303394ce2958d29" />
          </div>
          <div class="search-by-city-item">
            <AnimationCard @province="Battambang" @offers="29" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/5914204ce6842b75c09da917a78ec06e" />
          </div>
        </div>
      </div>
    </div>
    <!-- .Search by City -->
  </div>
  <!-- Other Cities -->
  <div class="section-container hide">
    <div class="city">
      <div class="col-12">
        <h6>Other Cities:</h6>
      </div>
      <div class="con">
          <div class="search-by-city-container">
              <div class="search-by-city-item other-city">
                <CityCard @city="Kampong Cham" @offer="15 offers" />
                <CityCard @city="Sihanoukville" @offer="5 offers" />
                <CityCard @city="Poipet" @offer="3 offers" />
                <CityCard @city="Banteay Meancheycity" @offer="3 offers" />
                <CityCard @city="Kamport" @offer="3 offers" />
              </div>
              <div class="search-by-city-item">
                <div class="map-container">
                  <img src="/assets/images/others/map.png" class="map" alt="">
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- .Other Cities -->
</section>
