
.my-card-province {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.my-card-province > img {
  z-index: -1;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 12em;
  opacity: 0.9;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-card-province {
  position: relative;
  /* border: 1px solid #333; */
  /* margin: 2%; */
  overflow: hidden;

}
.my-card-province img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.my-card-province:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.my-card-province>.my-card-container {
  color: white;
  font-size: 10px;
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  z-index: 2;
}
