@import "product-card.css";
@import "product.css";
@import "index.css";
@import "search-by-city.css";
@import "animation-card.css";
@import "city-card.css";
@import "user.css";



.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.body-color {
  background-color: #ddd;
}

@media only screen and (max-width:1199px) {
  .nav-right .hide-store {
    display: none;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}


/* FOOTER START */
.footer-links {
  padding: 0;
}

.footer-links li a {
  color: gray;
}

 ul {
    list-style: none;
}

.footer-links li a:hover {
  color: red;
  text-decoration: none;
}

.copyright {
  margin-left: 2em;
  font-size: 0.75em;
}

.vcenter {
  text-align: center;
}

.text-right a {
  color: gray;
  font-size: 0.75em;
}

.text-right a:hover {
  text-decoration: none;
  color: pink;
}

.account-text {
  font-size: 0.75em;
  color: gray;
}
/* FOOTER END */
