
/* City Card */
.city-card {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
  margin-top: 1em;
  color: gray;
  background-color: white;
}

.city-card:hover {
  color: red;
}

.city-card .item {
  display: flex;
  align-items: center;
  height: 100%;
}
