@import url('https://fonts.googleapis.com/css?family=Roboto');
/* SEARCH START */
.search {
  display: flex;
}

.search input {
  height: 3em;
}

.search a {
  margin-left: 0.2em;
  background-color: white;
  height: auto;
  width: 3.5em;
}

.search a img {
  margin-top: 0.5em;
  height: 2em;
  width: 2em;
}

.search a:hover {
  background-color: hsl(0, 100%, 30%);
}

.search-bar-background {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  background-color: rgb(204, 44, 36);
  height: 7em;
  margin-top: 6.4em;
}

/* SEARCH END */


/* CATEGORY GRID START */
body{
    margin:0;
    padding:0;
    background: rgb(212, 212, 212);
}

.container{
    margin: 0 auto;
    width: 90%;
}
.section{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content:center;
}
.grid{
    display: flex;
    justify-content: flex-start;
    background: white;
    width:19.7%;
    margin:1px;
}
.grid a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(32, 31, 31);
    justify-content: flex-start;
    padding:5px 10px 5px 15px;
    overflow: hidden;
}
.grid a h5{
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* padding-left: 5px; */
}

.category-icon{

}
.category-icon img{
    width:45px;
    max-width: 45px;
    padding: 5px;
}

@media only screen and (max-width:991px){
    .container{
        width: 75%;
    }
    .section{
        justify-content: flex-start;
    }
    .grid{
        width:32.7%;
    }

    .hide {
      display: none;
    }
}


@media only screen and (max-width:768px){
    .container{
        width: 95%;
    }
    .grid{
        width:100%;
    }
}
/* CATEGORY GRID END */



.ads {
  background-image: url('https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/adbanner/6e4af093-0463-46b0-a672-b1c1f1c6a021/banner/a60035042aef0b49de2ac59a35c70fda.gif');
  height: 200px;
  width: 100%;
  border: 1px solid gray;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.st {
  padding: 0 30px;
}

.province-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.other-city-container {
  /* border: 1px solid blue; */
  display: grid;
  background-color: white;
}

.other-city-1 {
  /* border: 1px solid red; */
}

.other-city-2 {
  /* border: 1px solid green; */
}

/* Other City End  */
