.product-container {
  margin: 10em;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border: 2px solid white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card-detail-container {
  padding: 2em 16px;
}

.product-detail {
  display: flex;
  flex: 1;
  padding-top: 2em;
}

.price-container {
  width: 45%;
}

.contact {
  display: flex;
  width: 55%;
  justify-content: space-around;
  margin-bottom: 5em;
}

.price {
  color: #cb2228;
  font-size: 2.3em;
}

.product-small-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  color: gray;
}

.favorite, .report {
  color: gray;
  margin-right: 2em;
}

.favorite:hover, .report:hover {
  text-decoration: none;
  color: gray;
}

.product-name {
  color: gray;
}

.red-color {
  color: #cb2228;
}

.container-detail-space {
  margin-top: 3em;
}

.description {
  padding: 3em;
}

.warning {
  padding: 1em 3em 1em 3em;

}

.space-top {
    margin-top: 1em;
}

.card-white {
  background-color: white;
}

@media screen and (max-width: 767px) {
  .hide {
    display: none;
  }
  .product-detail {
    flex-direction: column;
  }
  .contact {
    flex: 1;
    width: 100%;
    justify-content: space-between;
  }
  .price-container {
    width: 100%;
  }
}
