.product-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-bottom: 1.5em;
  color: #cb2228;
}

.product-card:hover, .product-card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #cb2228;
  text-decoration: none;
}

.product-card-container {
  padding: 2px 16px;
  color: gray;
  background-color: white;
}

p.price {
  color: #cb2228;

}

.product-card a:hover {
  text-decoration: none;
}
