.section-city {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-container {
  height: auto;
  /* border: 1px solid red; */
  margin-bottom: 1em;
}

.section-container .city {
  display: flex;
  flex-direction: column;
}

.con {
  display: flex;
  flex: 1;
  justify-content: space-between;
  /* height: 100%; */
}

.search-by-city-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 86%; */
}

.search-by-city-item {
  /* flex: 1; */
  padding: 0px 1.5px;
  height: auto;
  width: 100%;
  background-color: white;
}

.other-city {
  /* border: 1px solid black; */
  width: 45%;
}

.map {
  /* background-image: url('/assets/images/others/map.png'); */
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.map {
  /* background-image: url('/assets/images/others/map.png'); */
  width: 100%;
  height: 15em;
  object-fit: cover;
}


.recent-body {
  display: flex;
  flex-direction: column;
}

.recent-list-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.recent-list-item {

  border: 1px solid black;
  height: 5em;
  flex-grow: 1;
  width: 25%;

}

.menu-button {
  font-size: 1.3em;
  border: 0px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


@media only screen and (max-width:768px) {
  .con {
    flex-direction: column;
  }

  .search-by-city-container,  {
    flex-direction: column;
    flex: 1;
  }
}
