<!-- Nav -->
<div>
  <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light shadow-lg">
    <div class="container nav-container">
      {{#link-to "index" class="navbar-brand" }}
        <img src="/assets/images/headers/my-psar-logo.svg" width="250" height="75" alt="">
      {{/link-to}}

      <button class="navbar-toggler menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div>
          <span class="navbar-toggler-icon"></span>
          <span>Menu</span>
        </div>
      </button>

      <div class="collapse navbar-collapse nav-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto hide-store">
          <li class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/headers/header_apple.png" width="110" height="35" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/headers/header_google.png" width="110" height="35" alt="">
            </a>
          </li>
        </ul>
        <!-- Right -->
        <div class="form-inline my-2 my-lg-0">
          <span class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/headers/header_flag_c.svg" width="30" height="30" alt="">
            </a>
          </span>
          <span class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/headers/header_flag_cn.svg" width="30" height="30" alt="">
            </a>
          </span>
          <span class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/headers/header_flag_u.svg" width="30" height="30" alt="">
            </a>
          </span>
          <span class="nav-item">
            <a class="navbar-brand" href="#">
              <span class="account-text"><i class="fas fa-user-circle"></i> Login</span>
            </a>
          </span>
          <span class="nav-item">
            <a class="navbar-brand" href="#">
              <span class="account-text"><i class="fas fa-lock-open"></i> Register</span>
            </a>
          </span>
          <span class="nav-item">
            {{#link-to "user"}}
              <a href="" class="btn btn-danger"><i class="fas fa-user-tie"></i> User List</a>
            {{/link-to}}
          </span>
        </div>
        <!-- .Right -->
      </div>
    </div>
  </nav>
</div>
<!-- ./Nav -->

<div>
  {{outlet}}
</div>


<!-- FOOTER START -->
<div class="card-footer text-muted" style="margin-top: 1em;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <p>We are here:</p>
        <p style="color: gray;">
          Get contact with our team
          Tell us what you think about MyPhsar
          Let your friend know that the best deals are on MyPhsar
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <p>Information</p>
        <ul class="footer-links">
          <li><a href="https://myphsar.com/blog">Blog</a></li>
          <li><a href="/en/pages/about_us">About us</a></li>
          <li><a href="/en/pages/contact_us">Contact us</a></li>
          <li><a href="/en/pages/terms">Terms and Conditions</a></li>
          <li><a href="/en/pages/privacy_policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <p>How it works</p>
        <iframe width="" height="" src="https://www.youtube.com/embed/NPTtriyT1Ak?autoplay=1" allowfullscreen=""></iframe>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-3 vcenter">
        <img src="/assets/images/headers/my-psar-logo.svg" width="100" height="25" alt="">
      </div>
      <div class="col-sm-12 col-md-3 vcenter">
        <span class="copyright">Copyright ©2017</span>
      </div>
      <div class="col-sm-12 col-md-6 vcenter">
        <a href="https://appchance.com" rel="nofollow" style="text-decoration: none; color: gray;">Developed by: Appchance</a>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER END -->
