<!-- Search Bar -->
<div class="search-bar-background">
  <div class="container">
    <div class="search">
      {{input class="form-control form-control-lg" type="text" placeholder="ស្វែង​រក​អ្វីទាំងអស់..."}}
      <a href="#" class="btn btn-default">
        <img src="/assets/images/others/search-icon-1.png" alt="" />
      </a>
    </div>
  </div>
</div>
<!-- ./Search Bar -->
<div class="container">
  <!-- Category Grid -->
  <section class="section">
    {{#each model.categories as |category|}}
      <div class="grid">
        <a href="/en/posts/category/official-myphsar-store" class="grid-inner">
          <div class="category-icon">
            {{#each category.attributes.icon as |i| }}
              <img src={{i.url}} alt="{{i.name}}" />
            {{/each}}
          </div>
          <h5>{{category.attributes.name}}</h5>
        </a>
      </div>
    {{/each}}
  </section>
  <!-- .Category Grid -->


  <!-- Advertisement 1 -->
  <div class="row">
    <div class="col-12">
      <a>
        <div class="ads">
        </div>
      </a>
    </div>
  </div>
  <!-- .Advertisement 1 -->

  <!-- Product Start -->
  <div class="row">
    {{#each model.products as |product|}}
      <div class="col-12 col-md-6 col-lg-4">
        <ProductCard @product={{product}} />
      </div>
    {{/each}}
    <div class="col-12 center-div">
      <span class=" btn btn-danger">VIEW ALL <i class="fas fa-arrow-right"></i></span>
    </div>
  </div>
  <!-- Product End -->

  <!-- Advertisement 2 -->
  <div class="row">
    <div class="col-12">
      <a>
        <div class="ads">
        </div>
      </a>
    </div>
  </div>
  <!-- .Advertisement 2 -->
</div>

<div class="container">
  <!-- Search by city -->
  <h4>Search by cities</h4>
  <div class="row search-by-city-container">
    <div class="province-card col-12 col-md-4 col-lg-3">
      <AnimationCard @province="Phnom Penh" @offers="5" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/bfc8ae1b846ca63400fb5246129e83fe" />
    </div>
    <div class="province-card col-12 col-md-4 col-lg-3">
      <AnimationCard @province="Kandal" @offers="10" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/a6ec3a7ffb4c57f6cc91de7023ea2fcc" />
    </div>
    <div class="province-card col-12 col-md-4 col-lg-3">
      <AnimationCard @province="Siem Reap" @offers="48" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/fd1605d5946a261a5303394ce2958d29" />
    </div>
    <div class="province-card col-12 col-md-4 col-lg-3 hide">
      <AnimationCard @province="Battambang" @offers="29" @imageUrl="https://myphsar-ror.s3.ap-south-1.amazonaws.com/production_store/5914204ce6842b75c09da917a78ec06e" />
    </div>
  </div>
  <!-- .Search by city -->
  <!-- Other City -->

  <div class="other-city-container row">
    <div class="other-city-1 col-md-5">
      <CityCard @city="Kampong Cham" @offer="15 " />
      <CityCard @city="Sihanoukville" @offer="5 " />
      <CityCard @city="Poipet" @offer="3 " />
      <CityCard @city="Banteay Meancheycity" @offer="3" />
      <CityCard @city="Kamport" @offer="3 " />
    </div>
    <div class="other-city-2 col-md-7">
      <div class="map-container">
        <img src="/assets/images/others/map.png" class="map" alt="">
      </div>
    </div>
  </div>


  <!-- .Other City -->
</div>
