<div class="product-container">


  <div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="image-card">
            <img src="/assets/images/others/default copy.png" alt="{{model.title}}" style="width:100%">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="product-card-detail-container">
          <div class="product-small-detail">
            <h6><i class="fas fa-calendar-alt"></i> Mar 29, 2019</h6>
            <h6><i class="fas fa-map-marked"></i> Phnom Penh</h6>
            <h6><i class="fas fa-eye"></i> 300</h6>
          </div>
          <h4 class="product-name">{{model.name}}</h4>
          <div class="product-detail">
            <div class="price-container">
              <h4 class="price">$ {{model.priceFixed}}</h4>
            </div>
            <div class="contact">
              <a href="" class="btn btn-danger"><i class="fas fa-envelope"></i></a>
              <a href="" class="btn btn-danger"><i class="fas fa-phone"></i></a>
            </div>
          </div>
          <hr>
          <div class="">
            <a class="favorite" href="#"><i class="far fa-heart red-color"></i> Add to favorite</a>
            <a class="report " href="#"><i class="fas fa-hotel red-color"></i> Report abuse</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-12 col-md-9 container-detail-space">
        <div class="card description card-white">
          <h4>Description: </h4>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card container-detail-space card-white">
          <div class="warning">
            <p class="red-color">For safety of buying products on MyPhsar: You don’t have to send the money to the seller beforehand. You should try to meet with the seller first in a safe place and check the product before you buy it.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 hide">
        <div class="card container-detail-space">
          <img src="/assets/images/others/default copy.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
