<div class="container user-list">
  <h1>User List</h1>

  <div class="export">
      <button {{action 'exportToExcelUser'}} class="btn btn-success" > <i class="fas fa-download"></i> Export</button>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.address}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
